body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.2);
    animation: fadeInBackground 0.2s ease-in-out;
  }
  
  .container {
    text-align: center;
    animation: fadeIn 1s ease;
  }
  
  .loader {
    margin-top: 20px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  
  @keyframes fadeInBackground {
    0% { background-color: rgba(0, 0, 0, 0); }
    100% { background-color: rgba(0, 0, 0, 0.2); }
  }
  
  .spinning-loader {
    animation: spin 1s ease-in-out infinite;
  }